@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800;900&display=swap');

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 190px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
}


.footer-content {
    position: absolute;
    top: 100px;
    border-radius: 5px;
    border-color: white;
}

.website_rights {
    color: white;
    font-size: 24px;
    font-family: 'Epilogue', sans-serif;
    position: relative;
    top: 50px;
}