@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

.ibm-plex-mono {
  font-family: 'IBM Plex Mono', monospace;
}

.drop-shadow-white {
    text-shadow: 0 0 4px rgba(255, 255, 255, 255);

  }

  .menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 20px;
    top: 25px;
    height: 30px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    /* background-color: white; */
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid white;
    font-style: italic;
    font-family: 'IBM Plex Mono', monospace;
    filter: drop-shadow(0 0px 4px rgb(255, 255, 255));
}