@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vercetti";
  src: url("/fonts/VERCETTI-REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Absans";
  src: url("/fonts/ABSANS-REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-LIGHT.OTF") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-REGULAR.OTF") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-MEDIUM.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-SEMIBOLD.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-BOLD.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-EXTRABOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/HKGROTESKWIDE-BLACK.OTF") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0px;
  background-color: #e9e0db;
}

h1 {
  font-family: "HK Grotesk", sans-serif;
  letter-spacing: 5px;
}

p, li {
  font-family: "Vercetti", sans-serif;
  letter-spacing: 2px;
}