.services {
  height: 150vh;
  width: 100%;
  position: relative;
  margin-top: 75vh;
  padding: 10rem;
  overflow: hidden;
}

.services h1 {
  font-size: 7vw;
  font-weight: 200;
  line-height: 100px;
}

.services p {
  margin-top: 2%;
  font-size: 1vw;
  width: 75%;
}

.serviceName {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10vh;
}

.service-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 30;
}

.service-list li {
  font-size: 26px;
  margin-bottom: 5px; /* Adds space below each list item */
  padding-bottom: 5px;
  font-style: italic;
}

.circle {
  position: absolute;
  border-radius: 50% 50%;
  height: 100%;
  z-index: -1;
  margin-top: 20vh;
}

.tomorrow button {
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  padding: 4%;
  font-size: 1rem;
  font-family: "HK Grotesk", sans-serif;
  border-radius: 100px;
  background-color: #e9e0d4 ;
}
