@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800;900&display=swap');

.brand {
    height: 65vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.635), #000000 30% );
    margin-bottom: -1px;
}

.brand-container {
    width: 300px;
    height: 65vh;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    position: relative;
    top: 30%;
}

.text-container {
    height: 75vh;
}
.carousel-1 {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.inner {
    animation: scroll 5s ease-in-out infinite;
}

.element {
    font-size: 5rem;
    font-family: 'Epilogue', sans-serif;
    letter-spacing: 2px;
}


  @keyframes scroll {
    0%, 20% {
      transform: translateY(0);
    }
    25%, 45% {
      transform: translateY(-120px);
    }
    50%, 70% {
      transform: translateY(-240px);
    }
    75%, 95% {
      transform: translateY(-360px);
    }
    100% {
      transform: translateY(-480px);
    }
}