@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;1,300&family=Quicksand:wght@300;400&display=swap");

.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 10;
}

.logo {
  width: fit-content;
}

.call-action {
  display: flex;
  gap: 1rem;
}

.call-action .inquire,
.call-action .contact {
  border-radius: 100px;
  font-size: 14px;
  padding: 0.8rem 4rem;
  cursor: pointer;
  letter-spacing: 2px;
  color: white;
}

.inquire {
  border: 1px solid white;
}

.contact {
  background: #78290f;
}
