@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;1,300&family=Quicksand:wght@300;400&display=swap" rel="stylesheet');

.purpose {
  height: 150vh;
  width: 100%;
  position: relative;
}

.purpose-container {
  padding: 9rem;
  top: 250px;
  left: 180px;
}

.purpose h1 {
  font-size: 7vw;
  font-weight: 200;
}

.purpose p {
  margin-top: 2%;
  font-size: 1vw;
  width: 75%;
}

.purpose-schedule {
  position: absolute;
  bottom: 350px;
  left: 120px;
  padding: 1rem;
}

.purpose-schedule p {
  font-size: 1.5vw;
  width: 55%;
}

.purpose-schedule span {
  font-size: 1.5vw;
  font-family: "HK Grotesk", sans-serif;
  font-weight: 500;
}

.purpose-btn {
  display: flex;
  margin-top: 4%;
}

.purpose-btn button {
  padding: 1% 4%;
  margin-left: 8px;
  font-size: 1.2rem;
  border-radius: 100px;
}

.inquire-btn {
  border: 1px solid black;
}

.schedule {
  background-color: black;
  color: white;
}

.work-scroll {
  width: 50%;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  float: right;
}

.work-div {
  padding: 14rem 4rem;
  background-color: black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work-image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
