.mission-statement {
  position: relative;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2522px;
  overflow: hidden;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.driven {
  position: absolute;
  top: 50px;
  left: 180px;
}

.driven h1 {
  font-size: 7vw;
  width: 50%;
  font-weight: 200;
  line-height: 100px;
}

.driven p {
  margin-top: 4%;
  font-size: 1vw;
  width: 75%;
  font-weight: 400;
}

.work-grid {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  transform: translate(0%, 0%); /* Offset to truly center the element */
  overflow: hidden;
}

.grid-container {
  position: sticky;
  width: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.grid {
  padding: 7.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 25px 14px #fefaed;
  position: relative;
  overflow: hidden;
}

.a {
  grid-column: span 1;
  transform-origin: left top; /* Scale from the top-left corner */
}

.b {
  grid-column: span 2;
  transform-origin: right top; /* Scale from the top-left corner */
}

.c {
  grid-column: span 2;
  transform-origin: left; /* Scale from the top-left corner */
}

.d {
  transform-origin: right; /* Scale from the top-left corner */
}

.e {
  transform-origin: bottom left;
}

.f {
  transform-origin: bottom center;
}

.g {
  transform-origin: bottom right;
}
