.mission-statement {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2522px;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.driven {
  position: absolute;
  top: 450px;
  left: 180px;
}

.driven h1 {
  font-size: 3vw;
  line-height: 75px;
}

.driven p {
  margin-top: 4%;
  font-size: 1.2vw;
  width: 65%;
}

.work-grid {
  position: sticky;
  margin-top: 65vh; /* Adjusts how sticky positioning behaves */
  width: 100%;
  padding: 12rem;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.grid {
  padding: 10rem;
  background: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0px 4px 25px 14px #fefaed;
  position: relative;
  overflow: hidden;
}

.a {
  grid-column: span 1;
}

.b {
  grid-column: span 2;
}

.c {
  grid-column: span 2;
}
